
body {
  background-color: black;
}

h1, h2 {
  font-family: Lato;
}

.q-table {
  display: table;
  margin: auto;
  margin-top: 50px;
  border: 2px solid black;
  /* border-collapse: collapse; */
}

.q-row {
  display: table-row;
}

.q-cell {
  display: table-cell;
  background-image: url(https://i.imgur.com/q9Wlfp1.png);
  width: 32px;
  height: 32px;
}

.q-cell.q-top-wall {
  background-image: url(https://i.imgur.com/PMC7Ohk.png);
}

.q-cell.q-bottom-wall {
  background-image: url(https://i.imgur.com/kacm40W.png);
}

.q-cell.q-right-wall {
  background-image: url(https://i.imgur.com/Lq3jW8c.png);
}

.q-cell.q-left-wall {
  background-image: url(https://i.imgur.com/gbojmNo.png);
}

.q-cell.q-top-wall.q-bottom-wall {
  background-image: url(https://i.imgur.com/5fbHqMh.png);
}

.q-cell.q-right-wall.q-left-wall {
  background-image: url(https://i.imgur.com/nYkTean.png);
}

.q-cell.q-top-wall.q-bottom-wall.q-right-wall {
  background-image: url(https://i.imgur.com/u6wPBEz.png);
}

.q-cell.q-right-wall.q-left-wall.q-top-wall {
  background-image: url(https://i.imgur.com/sgrGEa8.png);
}

.q-cell.q-top-wall.q-bottom-wall.q-left-wall {
  background-image: url(https://i.imgur.com/zGqMiUH.png);
}

.q-cell.q-right-wall.q-left-wall.q-bottom-wall {
  background-image: url(https://i.imgur.com/FkxCw8b.png);
}

.q-cell.q-top-wall.q-right-wall {
  background-image: url(https://i.imgur.com/rvsPtUR.png);
}

.q-cell.q-bottom-wall.q-left-wall {
  background-image: url(https://i.imgur.com/IhGgIZL.png);
}

.q-cell.q-right-wall.q-bottom-wall {
  background-image: url(https://i.imgur.com/t2FV3b9.png);
}

.q-cell.q-left-wall.q-top-wall {
  background-image: url(https://i.imgur.com/P9GVAqT.png);
}

.q-cell.q-top-wall.q-bottom-wall.q-right-wall.q-left-wall {
  background-image: url(https://i.imgur.com/iOHqbfH.png);
}
